<h4 class="blue-bold scope-page">Trips Rated 5 Stars by <%= current_user.name %></h4><br>
<% current_user.trips.five_star.each do |trip| %>
  <p class="no-underline scope-page"><%= link_to trip.city.city_country, user_trip_path(current_user, trip) %></p>
<% end %>
