<div class="start-pages">
  <h4>Log In</h4><br>
  <%= form_for :user do |f| %>
    <%= f.email_field :email, placeholder: "email" %>
    <%= f.password_field :password, placeholder: "password" %><br><br>
    <%= f.submit "Log In", :class => 'btn btn-md btn-success' %>
  <% end %>
</div>
