
  <h2>Travelers</h2>
  <% @users.each do |user| %>
  <div class="review-box">
    <span class="no-underline"><%= link_to user.name, user_trips_path(user) %> </span><br>
    <p>Total Trips: <%= user.trip_count %></p>
    <p>Last Trip: <%= user.last_trip.city.name %></p>
    </div>
  <% end %>
