<div class="page-container scope-page">
  <h3 class="blue-bold">Our most active traveler is <%= @user.name %>!</h3>
  <h4><%= @user.name %> has posted about <%= @user.trips.count %> trips.</h4><br>
  <span class="blue-bold"><%= link_to "<-- Return to Travelers Page", users_path %></span>
</div>
