<div class="start-pages home">
  <h3>Welcome to TripTracker!</h3><br>
  <%= link_to("Log In to My Account", login_path, :class => 'btn btn-block btn-info start-button') %><br>
  <%= link_to("Sign Up for New Account", signup_path, :class => 'btn btn-block btn-dark start-button') %>
</div>
