<div class="table-container">
  <h4 class="align-table">Explore Countries</h4>
  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Recommended Attraction</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each do |country| %>
      <tr class="border-bottom">
        <td class="no-underline"><%= link_to country.name, country_path(country) %></td>
        <td><%= country.random_attraction %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
