<div class="page-container list-details">
  <h4>Explore Cities</h4>

  <div id="cities-index">
    <% @cities.each do |city| %>
      <div id="index-city-<%= city.id %>" class="underlined-list">
        <%= link_to city.city_plus_country, city_path(city) %>

        <% if Trip.exists?(user_id: current_user.id, city_id: city.id) %>
          <br><span class="trip-exists">I've added to my trips!</span>
        <% end %>

      </div>
    <% end %>
  </div>

  <%= render partial: 'form', locals: {city: @city} %>

</div>
