<div class="scope-page">
  <h3 class="blue-bold"><%= @city.plus_country %> is our most visited city!</h3>
  <h4>It has been visited <%= @city.trips.count %> times by our travelers.</h4><br>
  <span class="blue-bold"><%= link_to "<-- Return to Cities Page", cities_path %></span>
</div>
