/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   background-color: #F1F1F2;
   font-family: 'Lato', sans-serif;
 }

/* ----- TOP NAV ----- */
/* Note: need different nav for home page */
/* #333    */
 .topnav {
   background-color: #3778B0;
   overflow: hidden;
   margin-bottom: 25px;
 }

 .topnav a {
   float: left;
   padding: 14px 16px;
   color: #f2f2f2;
   text-align: center;
   text-decoration: none;
   font-size: .9em;
 }

 .topnav a:hover {
   background-color: #1C4582;
 }

 .topnav a:active {
   background-color: #1C4582;
 }

 /* Links */

 .list-view a: {
   font-size: 1.05em;
 }
 .list-view a:link {
   text-decoration: none;
   color: black;
 }

.list-view a:hover {
   color: blue;
 }

 .list-view a:visited {
   color: black;
 }

 .review-box {
   border-bottom: 1px solid #C0C0C0;
   margin: 10px auto;
 }
