body {
   margin: 0;
   background-color: #ECECEB;
   font-family: 'Lato', sans-serif;
 }

/* ----- NAV BAR ----- */

 .topnav {
   background-color: #428FF4;
   overflow: hidden;
   margin-bottom: 25px;
 }

 .topnav a {
   float: left;
   padding: 14px 16px;
   color: #F2F2F2;
   text-align: center;
   text-decoration: none;
   font-size: .9em;
 }

 .topnav a:hover {
   background-color: #3357B9;
 }

 .topnav a:active {
   background-color: #3357B9;
 }

/* ----- HOME PAGE ----- */

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* ----- LOGIN/STARTUP PAGES ----- */
.start-pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 250px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  background-color: #FDFCFC;
  text-align: center;
  display: block;
  padding-top: 20px;
}

/* ----- CONTENT PAGES ----- */
.info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  border: 1px solid #A9A9A9;
  border-radius: 15px;
  background-color: #DEDBDB;
  text-align: center;
}

.info-box.med-box {
  width: 400px;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

.list-details {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* ------------RENAME THIS? ------------ */
.review-box {
  border-top: 1px solid #C0C0C0;
  padding-top: 10px;
  margin: 10px auto;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

th {
  padding: 8px 10px;
  text-align: left;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}

td {
  padding: 5px 10px;
}
 tr.border-bottom {
   border-bottom: 1px solid #C0C0C0;
 }

 /* ----- BUTTONS ----- */
 .btn-sm {
   margin-right: 10px;
   padding: 0 auto;
   display: inline;
 }

 .btn-md {
   display: block;
   margin: 0px auto;
 }

 .btn-rounded {
   border-radius: 25px;
 }

 .form {
   width: 70%;
   margin: auto;
   padding: 15px 25px;
   border: 1px solid #A9A9A9;
   border-radius: 5px;
   background-color: #FDFCFC;
 }

 /* ----- LINKS ----- */

 .no-underline a: {
   font-size: 1.05em;
 }
 .no-underline a:link {
   text-decoration: none;
   color: black;
 }

.no-underline a:hover {
   color: blue;
 }

 .no-underline a:visited {
   color: black;
 }

 .no-underline a:visited:hover {
   color: blue;
 }

/* ----- MISC ----- */
 h4.page-heading {
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
   padding-bottom: 10px;
 }

 h4.box-heading {
   border-bottom: 1px solid #A9A9A9;
   margin-top: 10px;
   padding-bottom: 10px;
   text-align: center;
 }

 .bold-text {
   font-weight: bold;
 }
