body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/venice.jpg') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
   min-height: 800px;
 }

/* ----- NAV BAR ----- */
 .topnav {
   background-color: #428FF4;
   overflow: hidden;
 }

 .topnav a {
   padding: 14px 16px;
   color: #F2F2F2;
   text-align: center;
   vertical-align: middle;
   display: inline-block;
   text-decoration: none;
   font-size: .85em;
 }

 .topnav a.logo,
 .topnav a:hover.logo {
   font-size: 1.15em;
   color: #FFDEAD;
   margin-left: 25px;
 }

 .topnav a:hover, a:active {
   color: #3357B9;
 }

/* ----- HOME PAGE ----- */

/*
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/venice.jpg') no-repeat center center;
  background-size: cover;
  min-height: 800px;
}
*/

/* ----- HOME/LOGIN/STARTUP PAGES ----- */
.start-pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 25px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  background-color: #FDFCFC;
  text-align: center;
  display: block;
  display: block;
}

.home {
  width: 400px;
  min-height: 250px;
  padding: 20px;
}

.home a.start-button,
.home a:hover.start-button,
.signup-login a.start-button,
.signup-login a:hover.start-button {
  color: white;
}

.signup-login {
  min-width: 400px;
  min-height: 325px;
  padding: 20px;
}

.user-errors {
  color: red;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* ----- CONTENT PAGES ----- */

.page-container {
  margin-top: 50px;
  background-color: white;
}

.user-show {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  padding: 30px;
  min-height: 300px;
}

.prev-next {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px 30px 30px;
}

.prev-next h3 {
  padding-top: 50px;
  padding-bottom: 10px;
}

.trip-index{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  padding: 30px;
  min-height: 300px;
}

.list-details {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  padding: 25px;
}

.scope-page {
  width: 70%;
  min-height: 250px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding: 25px;
}

.underlined-list {
  margin-top: 30px;
  border-top: 1px solid #C0C0C0;
  padding-top: 10px;
  margin: 10px auto;
}

.bottom-border {
  border-bottom: 1px solid #C0C0C0;
  margin: 10px auto;
}

.form {
  width: 80%;
  margin: 30px auto;
  padding: 15px 25px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  background-color: white;
}

.form-errors {
  color: red;
}

/* ----- TABLES ----- */

.table-container {
  width: 80%;
  margin: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 30px;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

th {
  padding: 8px 20px;
  text-align: left;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}

td {
  padding: 5px 20px;
}
 tr.border-bottom {
   border-bottom: 1px solid #C0C0C0;
 }

 .align-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
   }

  h4.align-table {
    padding-top: 30px;
  }

 /* ----- BUTTONS ----- */

 .btn-sm {
   margin-right: 10px;
   padding: 0 auto;
   display: inline;
 }

 .btn-md {
   display: block;
   margin: 0px auto;
 }

 .btn-rounded {
   border-radius: 25px;
 }

 .button-below-table {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
 }

 .index-buttons a:hover.color-fix,
 .index-buttons a:visited:hover.color-fix {
   color: white;
 }

 /* ----- LINKS ----- */

 .no-underline a: {
   font-size: 1.05em;
 }

 .no-underline a:link {
   text-decoration: none;
   color: black;
 }

.no-underline a:hover,
.no-underline a:visited:hover {
   color: blue;
 }

.no-underline a:visited {
   color: black;
 }

.js-previous-trip,
.js-previous-city,
.js-previous-country {
  float: left;
  color: #339966;
}

.js-next-trip,
.js-next-city,
.js-next-country {
  float: right;
  color: #339966;
}

div.prev-next a:link {
  text-decoration: none;
}

div.prev-next a:hover, a:hover:visited {
  color: blue;
}

/* ----- MISC ----- */

 .bold-text {
   font-weight: bold;
 }

 .blue-bold {
   color: blue;
   font-weight: bold;
 }

 ul {
    list-style-type: circle;
}

.italic {
  font-style: italic;
}

.trip-exists {
  color: #339966;
}
